package com.demo.core;

import java.util.PropertyResourceBundle;
import java.util.ResourceBundle;

public class Config {

#foreach($key in ${map.keySet()})
	public static final String $key;
#end
    
	static {
		ResourceBundle rb = PropertyResourceBundle.getBundle("config");
		
#foreach($key in ${map.keySet()})  
    	$key = rb.getString("${map.get($key)}");
#end  
	}
	
}
